accelerate==0.34.2
timm
setuptools==69.5.1
mmcv==1.7.0
einops
ftfy
transformers==4.33.2
omegaconf
pandas
numpy==1.23.0
pandas==1.5.3
iopath
decord
webdataset
moviepy
fairscale
peft==0.6.2
easydict
pycocoevalcap==1.2
spacy
h5py
nltk
xformers==0.0.23
open3d==0.18.0
deepspeed==0.15.1
yapf==0.40.1
sentencepiece
bs4
git+https://github.com/huggingface/diffusers@007ad0e2aa792a192a100cf0dcb0e100225fd486
protobuf==3.20.3
